[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.6"
asgiref = "==3.6.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
distlib = "==0.3.4"
django-cors-headers = "==3.13.0"
django-filter = "==22.1"
djangorestframework = "==3.14.0"
filelock = "==3.5.0"
gunicorn = "==20.1.0"
idna = "==3.3"
mysql-connector-python = "==8.0.28"
mysqlclient = "==2.1.1"
numpy = "==1.21.6"
pipenv = "==2022.1.8"
platformdirs = "==2.5.0"
protobuf = "==4.21.12"
python-decouple = "==3.7"
pytz = "==2022.7.1"
requests = "==2.27.1"
six = "==1.16.0"
sqlparse = "==0.4.3"
tzdata = "==2022.7"
urllib3 = "==1.26.9"
virtualenv = "==20.13.1"
virtualenv-clone = "==0.5.7"

[dev-packages]

[requires]
python_version = "3.10"
